SaveFiles2GDrive-2.json
{
  "name": "SaveFiles2GDrive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "subject:Bewerbung"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -144
      ],
      "id": "b53a4f75-08b2-40dc-ba0d-40a3f909efd3",
      "name": "Gmail Trigger",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "KIQEHet3095JQoon",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -64,
        -144
      ],
      "id": "bb854679-959e-4058-9f6e-4a2f8c25c958",
      "name": "Get a message",
      "webhookId": "2d2a8986-e5a4-4bc5-ba14-05458994d2d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "KIQEHet3095JQoon",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9cea1f29-a187-4d73-9372-1da9e5b11f82",
              "leftValue": "={{ $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -256,
        -144
      ],
      "id": "2ddc7509-7a67-4554-8b25-f48f852dcfc7",
      "name": "Filter for attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7bd1f29-fa5e-41c4-b41b-873451e93b8d",
              "name": "attachments",
              "value": "={{ $('Get a message').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "70f6faf4-5cda-4132-a939-6763b0db858b",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -288
      ],
      "id": "2b36f869-0efc-4c46-a1af-d832cd613ec7",
      "name": "array of attachments"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        -288
      ],
      "id": "24e4f257-500a-49a4-ad20-48b01686ff4b",
      "name": "Split Out array in separate attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        -64
      ],
      "id": "682f2af3-f689-4f56-a8c6-6f09f80d0e2c",
      "name": "Merge objects to get the attachments",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "049bdbfc-8e56-49e0-9b88-56179dfc716e",
              "name": "new_filenames",
              "value": "=[\"Zertifikat n8n\",\"Lebenslauf deutsch\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -288
      ],
      "id": "e3216b57-2227-4fb4-afc6-fd2952732410",
      "name": "save new name"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        -64
      ],
      "id": "52a90a2e-f2f3-48f0-a254-a9ee399c5c90",
      "name": "merge new name with first merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "new_filenames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        -288
      ],
      "id": "b605cb92-86fa-4c19-8756-800f8ab1c60c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -352
      ],
      "id": "fb3555ea-178b-414a-8a9b-78dfea4b8ea7",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Do9qjo415gKR3nB0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1152,
        -352
      ],
      "id": "c255f05a-344e-430a-b927-5e9ff89d8ea0",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1760,
        -448
      ],
      "id": "330fb9a1-6a33-46bf-82b1-b384cd0f4b45",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cb37bcb-9ecd-4b31-83cb-84d5b3e844e5",
              "leftValue": "={{ $('Filter nach ordner und name').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        -352
      ],
      "id": "8c53996e-d555-414b-b156-92607ae10ae1",
      "name": "ordner existiert bereits"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a568d0ec-ea21-4b6b-944b-fd850d678867",
              "leftValue": "={{ $json.files.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3a61d75a-b756-4d95-9c0f-dcbb5f8027fb",
              "leftValue": "={{ $json.files.name }}",
              "rightValue": "={{ $('Get a message').item.json.from.value[0].address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1376,
        -352
      ],
      "id": "d44d6e3f-4fd1-4133-8cae-9ce656110a52",
      "name": "Filter nach ordner und name",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get a message').item.json.from.value[0].name }}_{{ $('Get a message').item.json.from.value[0].address }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -272
      ],
      "id": "fea495d5-837a-462a-99a9-e75070ba1a4d",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Do9qjo415gKR3nB0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "997efff7-0504-4fa5-ac95-e2e5c73be9d7",
              "name": "folder_id",
              "value": "={{ $json.files.id }}",
              "type": "string"
            },
            {
              "id": "e0201c04-fb7f-4dc5-bc4a-06f4a6ac16e4",
              "name": "id",
              "value": "={{ $('merge new name with first merge').item.json.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -448
      ],
      "id": "65bb75ef-585c-4dc8-8136-91783bbaaca7",
      "name": "get folder id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "997efff7-0504-4fa5-ac95-e2e5c73be9d7",
              "name": "folder_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "65380430-cd6e-4275-939d-56040445c596",
              "name": "id",
              "value": "={{ $('merge new name with first merge').item.json.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -272
      ],
      "id": "75a9b81a-0568-47ab-8125-22329fe90a91",
      "name": "get folder id1"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.attachments }}",
        "name": "={{ $json.new_filenames }}({{ $json.subject }}_{{ $json.id }}_{{ $now.format('yyyy-MM-dd') }})",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        -80
      ],
      "id": "a5c7c923-cf2e-4111-96e6-26c8b45c5bd8",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Do9qjo415gKR3nB0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "message_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        -80
      ],
      "id": "2697649a-ff90-465c-bbfb-e3adbceb550c",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter for attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "array of attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge objects to get the attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter for attachments": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "array of attachments": {
      "main": [
        [
          {
            "node": "Split Out array in separate attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out array in separate attachments": {
      "main": [
        [
          {
            "node": "Merge objects to get the attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge objects to get the attachments": {
      "main": [
        [
          {
            "node": "merge new name with first merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "save new name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save new name": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge new name with first merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "merge new name with first merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter nach ordner und name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ordner existiert bereits": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter nach ordner und name": {
      "main": [
        [
          {
            "node": "ordner existiert bereits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "get folder id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "get folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get folder id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get folder id1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb0b01e1-d785-4fba-8190-1b8753a7f361",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11824c7a89072a7b2ed32a056993e7c508c8e269273726ab30c128ae4661767b"
  },
  "id": "Cs3yDjvpOzWxu1CZ",
  "tags": []
}